.sheet
        {
        margin: 0 auto;
        padding: 0;
        width: 210mm;
        height: 147.5mm;
        }

.title
        {
        text-align: center;
        font-size: 3.2em;
        margin: 0
        }

.bill
{
        padding-top: 50px;
        margin: 0 auto;
        text-align: center;
        font-size: 50px;
        width: 8em;
}

.add
{
        position: absolute;
        left: 5.5em;
        bottom: 1em;
}

.no_box
{
        position: relative;
}