.box {
  width:auto;
  margin-right: 5%;
  margin-left: 5%;
  overflow: hidden;
  border-top: solid 1px;

}

.midasi {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 24px;
}

.table {
  margin: 0;
}

.scroll_box {
  margin-left: 5%;
  margin-right: 5%;
  height: 400px;
  overflow: hidden;
  overflow: auto;
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
}

.scroll_box::-webkit-scrollbar {
  display: none;
}

label.col-xs-1.label-control,div.col-xs-2{
  margin-top: 7px;
}

.container  p{
  font-size: 24px;
  margin: 2px;
  margin-top: 13px;
}

.container {
  font-size: 16px;
}
