
.scroll_box {
  width: 90%;
  max-height: 400px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.scroll_box::-webkit-scrollbar {
  display: none;
}

.elist {
  width: 100%;
  height: auto;
  text-align: center;
}

.etable td {
  overflow: hidden;
  white-space: nowrap;
}

.title-list {
  margin-top: 20px;
  width: 90%;
  height: 50px;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #000;
  text-align: center;
}

.title-list th {
  text-align: center;
}

.table.table-striped {
  margin-bottom: 0px;
  background-color: #e4fcff;

}


.midasi {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 24px;
}
