.header_div {
    padding: 0.5em 1em;
    /* margin: 2em 0; */
    color: #00bcd4;
    background: #e4fcff;
    border-bottom: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0,0,0,0.32);
    /* width: 350px; */
    /* height: 100px; */
    /*display: inline-block;*/
    text-align: center;
    line-height: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}