
.header_div {
    padding: 0.5em 1em;
    /* margin: 2em 0; */
    color: #00bcd4;
    background: #e4fcff;
    border-bottom: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0,0,0,0.32);
    /* width: 350px; */
    /* height: 100px; */
    /*display: inline-block;*/
    text-align: center;
    line-height: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

.boxA:after {
  content: "";
  display: block;
  clear: both;
}


.box1 {
  min-width:550px;
  width: 40%;
  height: 390px;
  float: left;
  margin-top: 50px;
  margin-left: 5%;
  border: solid 1px;
  padding: 0.5em 1em;
  color: #00bcd4;
  background: #e4fcff;
  border-top: solid 6px #1dc1d6;
  box-shadow: 0 3px 4px rgba(0,0,0,0.32);
  font-size: 20px;
}

.box2 {
  min-width:550px;
  width: 40%;
  height: 390px;
  float: left;
  margin-top: 50px;
  margin-left: 5%;
  border: solid 1px;
  padding: 0.5em 1em;
  color: #00bcd4;
  background: #e4fcff;
  border-top: solid 6px #1dc1d6;
  box-shadow: 0 3px 4px rgba(0,0,0,0.32);
  font-size: 20px;
}

.box3 {
  width: 90%;
  height: 500px;
  margin-top: 50px;
  margin-left: 5%;
  margin-bottom: 50px;
}

.table1 {
  width: 100%;
  height: 500px;
  text-align: center;
}

.table1 th {
  width: 200px;
}

.container {
  width: 550px;
}

p {
  margin-left: 7px;
}

.col-xs-2.label-control {
  width: 130px;
  padding: 0px;
}

.modal {
  font-size: 20px;
}

.modal-dialog {
  width: 700px;
  margin-top: 20px;
}

.modal label {
  float: left;
}

.modal-body {
  height: 500px;
  padding: 0.5em 1em;
}


.btn-default {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

.btn-default:hover {
    background: #67c5ff;
    color: white;
    border: solid 2px #67c5ff;
}

.col-xs-2.label-control {
    width: 100px;
    padding: 0px;
}
