.header_div {
    padding: 0.5em 1em;
    /* margin: 2em 0; */
    color: #00bcd4;
    background: #e4fcff;
    border-bottom: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0,0,0,0.32);
    /* width: 350px; */
    /* height: 100px; */
    /*display: inline-block;*/
    text-align: center;
    line-height: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}


/* bootstrap3 */
.header_oic {
    margin: 5px;
}

.navbar-default {
    background-color: #e4fcff;
    border-color: #1dc1d6;
}

.navbar-default .navbar-brand {
    color: #00bcd4;
}

.navbar-default .navbar-nav > li > a {
    color: #00bcd4;}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #00bcd4;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #00e0fd;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #00e0fd;
}
